@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400");
@import url("d-din/d-din.css");
* {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, select, p, blockquote, th, td, article, aside, .modal, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
  font-style: none;
}
fieldset, img, a img {
  border: 0;
  outline: none;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 600;
  text-transform: uppercase;
}
abbr, acronym {
  border: 0;
  font-variant: normal;
}
sup, sub {
  line-height: 0;
}
article, aside, .modal, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
/*--- TENZEROTHREE.com v9.2.2 ---*/
html {
  scroll-behavior: smooth;
}
body {
  font: 18px/1.6em "Source Sans Pro", roboto, verdana, sans-serif;
  color: #000;
  background: #fff;
  text-align: left;
  overflow-x: hidden;
}
body.stop {
  overflow-y: hidden;
}
::selection {
  color: #fff;
  background: #f09;
}
a:link, a:visited {
  color: #f09;
  border-radius: 2px;
  padding: 0 2px;
  transition: all 0.4s;
}
a:hover, a:active, a:focus {
  background: #f09;
  color: #fff;
  outline: none;
}
a.headshot {
  background: none;
  padding: 0;
  height: 200px;
}
a.headshot:hover {
  filter: url(#pink);
}
li {
  list-style: none;
}
#services li {
  list-style: unset;
  list-style-position: inside;
}
dfn {
  font-style: normal;
}
strong {
  font-weight: 600;
}
p:last-of-type strong, p:first-of-type strong {
  font-weight: 700;
}
a.antispam {
  unicode-bidi: bidi-override;
  direction: rtl;
}
svg.defs {
  display: none;
}
nav, footer {
  background: rgba(0, 0, 0, 0.85);
  width: 100%;
  line-height: 1em;
}
nav ul, footer ul {
  display: flex;
}
nav li:first-child, footer li:first-child {
  flex-grow: 1;
}
nav li, footer li {
  display: block;
  padding: 8px 4px;
  color: #fff;
}
nav img, footer img {
  height: 12px;
}
nav a:link, nav a:visited, nav a:hover, nav a:active, nav a:focus, footer a:link, footer a:visited, footer a:hover, footer a:active, footer a:focus {
  color: #fff;
  padding: 0 4px;
  text-decoration: none;
}
nav {
  position: fixed;
  top: 0;
  z-index: 9;
  text-transform: uppercase;
}
footer {
  font-size: 11px;
}
footer img {
  height: 8px;
}
footer li:last-child a:link, footer li:last-child a:visited, footer li:last-child a:hover, footer li:last-child a:active, footer li:last-child a:focus {
  margin: 0 -2px;
  text-decoration: underline;
}
section header {
  display: flex;
  width: 100vw;
  height: 50vh;
  justify-content: center;
  align-items: center;
  background: url("imgs/black_hi.jpg") 100% 100% no-repeat;
  background-size: cover;
  margin: 0 auto;
}
section#top header {
  height: calc( 50vh + 30px );
}
section header > * {
  font: 600 80px/1em "D-Din", Helvetica, Arial, sans-serif;
  color: #fff;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
  margin-top: -25%;
  letter-spacing: 0.05em;
  text-align: center;
}
section:nth-of-type(2) header {
  background-image: url("imgs/pink_hi.jpg");
}
section:nth-of-type(3) header {
  background-image: url("imgs/yellow_hi.jpg");
}
section:nth-of-type(4) header {
  background-image: url("imgs/blue_hi.jpg");
}
section div {
  margin: 48px auto 96px;
  max-width: 1024px;
  display: flex;
}
section div img {
  align-self: flex-start;
  flex: 0 0 auto;
  width: calc(50% - 16px);
  margin: 0 16px;
}
section div main {
  padding: 0 0 0 16px;
  width: calc(50% - 16px);
  align-self: center;
  text-align: right;
}
section div main .sub {
  font: 600 26px/1.1em "D-Din", Helvetica, Arial, sans-serif;
  border-bottom: 3px solid #000;
  display: inline-block;
  margin: 0 0 24px;
}
section div main p {
  margin: 0 0 16px;
}
section div main ul {
  margin: 0 0 16px;
}
section div main:last-child {
  text-align: left;
  padding: 0 16px 0 0;
}
section div.offset main {
  width: inherit;
}
section div.offset img {
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
}
section #logos {
  padding: 0 8px;
  max-width: 1024px;
  margin: 48px auto 96px;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill, minmax(12%, 1fr));
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}
section #logos span {
  background-size: contain;
  background-repeat: no-repeat;
}
section #logos span img {
  width: 100%;
  margin: 0;
  filter: url(#pink);
  animation-name: twinkle;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  opacity: 0;
/*  transition: opacity 0.3s;*/
}
section #logos span:nth-of-type(3n-1) img {
  filter: url(#yellow);
}
section #logos span:nth-of-type(3n) img {
  filter: url(#blue);
}
@keyframes twinkle {
  0%   {opacity: 0;}
  10%   {opacity: 1;}
  20%  {opacity: 0;}
}
@media all and (min-width: 1281px) {
  section header {
    background-position: 50% 60%;
  }
    section header > * {
    margin: 0;
    transform: translateY(-150%);
  }
}
@media all and (max-width: 800px) {
  section #logos {
    grid-template-columns: repeat(auto-fill, minmax(15%, 1fr));
  }
}
@media all and (max-width: 500px) {
  nav {
    font-size: 11px;
  }
    nav li:first-child {
    visibility: hidden;
  }
  section header {
    background-image: url("imgs/black_md.jpg");
    max-height: 100vw;
  }
    section header > * {
    font-size: 50px;
  }
  section:nth-of-type(2) header {
    background-image: url("imgs/pink_md.jpg");
  }
  section:nth-of-type(3) header {
    background-image: url("imgs/yellow_md.jpg");
  }
  section:nth-of-type(4) header {
    background-image: url("imgs/blue_md.jpg");
  }
  section #logos {
    grid-template-columns: repeat(auto-fill, minmax(22%, 1fr));
  }
  section div {
    display: block;
  }
  section div main, section div.offset main, section div main:last-child {
    width: inherit;
    max-width: 100%;
    padding: 0 16px;
  }
  section div img, section div.offset img {
    display: none;
  }
  section#top div.offset img {
    margin: 0 auto 48px;
    display: block;
  }
  section div#logos img {
    display: initial;
  }
  .main, .split, #logos {
    margin-bottom: 48px;
  }
  .modal {
    max-width: 310px;
  }
}